<!DOCTYPE html>
<html>
    <head>
        <title>Ejemplo simple mvc</title>
    </head>
    <body>
        <section>
            <nav>
                <a href="/">Listar personas</a>
                <a href="/agregar">Agregar persona</a>
            </nav>
            <h1>Listar Personas</h1>
            <table>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Ciudad</th>
                    <th colspan="2">Acciones</th> 
                </tr>
                {% for d in data %}
                <tr>
                    <td>{{ d['nombre'] }}</td>
                    <td>{{ d['apellido'] }}</td>
                    <td>{{ d['ciudad'] }}</td>
                    <td><a href="/editar/{{ d['_id'] }}">editar</a></td>
                    <td><a href="/eliminar/{{ d['_id'] }}">eliminar</a></td>
                </tr>
                {% endfor %}
            </table>
        </section>
    </body>
</html>